* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    color: white;
    background-color: #1F2937;
    
}

.headertop {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding: 16px;


}


ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    max-width: 444PX;
}

.subtitle {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 444PX;

}

.headerbody {
    display: flex;
    margin-left: 100px;
    justify-content: space-around;
}

img {
    max-height: 200px;
    margin-left: 44PX;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 5px 20px;
    border-radius: 8px;
    border: none;


}
